[2019-03-29 11:29] StingRayZA opened #9 "Pagination warning during build"
There's still one outstanding build warning (this has been there since before the recent upgrade):
[code]
I believe this may be due to the following section in _config.yml:
[code]
but we don't have a page under `blog` - let alone an `index.html`...
Ref: https://jekyllrb.com/docs/pagination/

[2019-03-29 19:11] cewilliams commented on #9
A blog has always been expected to be part of this site - but until it shows up it would make sense to me to turn that off.

[2019-03-30 10:46] #9 closed

[2019-05-11 16:13] lenucksi opened #39 "Add curated list of material on more detailed aspects of collaboration happening around InnerSource"
# Rationale
It is impressive to see the amount of people looking for material to bring people up to speed with regard to general collaborative working approaches of InnerSource (and actually also OSS) who have not been exposed to them. This applies on various levels, an example being "How do I do a PR across repos, why do I do this instead of just getting full permissions any whatever repo and cre

[2019-05-19 12:36] dicortazar commented on #39
@lenucksi this is a great idea.
So far there's a list of existing materials in the 'resources' tab at innersourcecommons.org.
In addition to the existing materials and your proposal, I'd like to see at some point some kind of structured guides as in the case of the [TODO Group](https://todogroup.org/guides/) (focused on Open Source Offices).

Then, going to your comments. I'd say that the point ab

[2019-05-19 12:48] dicortazar opened #40 "Work on the idea of Speaker's Bureau"
The goal of this is to have a curated list of people interested in helping the InnerSource Commons and that are allowed by their employer to attend other organization internal or public events. This can be either paid by the employer or by the organizations interested in having this InnerSource Commons Community Member in its event.

The idea comes from the Speaker's Bureau at the OpenStack Founda

[2019-05-19 12:49] dicortazar commented on #40
As an example, I'm interested in participating in the list of people for the Speaker's Bureau. I'm allowed by my employer to do this.

[2019-05-20 07:10] benvantende commented on #40
I am in!

[2019-05-20 11:54] MaineC commented on #40
I am in as well. I'm based out of Berlin, so anything either in the city, remote or easy to reach from here would be preferable. Happy to talk about Inner Source in general, how we use Inner Source at my current employer as well as some of the parallels to how Open Source in general and projects at the Apache Software Foundation in particular operate.

[2019-05-20 12:04] lenucksi commented on #40
I'm in too and based in Berlin, more remote locations reachable by flying can be doable depending on the circumstances.

[2019-05-20 15:43] gruetter commented on #40
I'm in, too. I live in the Cologne area and work in the Stuttgart area, so those are my easy locations. I'd be happy to travel, too.

[2019-05-22 09:06] maxcapraro commented on #40
That's a great initiative. Please count me in as well @dicortazar :)

[2019-05-23 18:14] jacoblyopen opened #41 "Post Spring 2019 Summit website cleanup"
Request to update the website regarding events.

1.  Spring 2019 Summit info needs to be archived.
2.  Add OSCON InnerSource Day 2019 (Tuesday 16 July, Portland Convention Center).

[2019-05-30 11:02] dicortazar commented on #40
Awesome, I'll start working on the website page. I'll ping each of you through Slack for further info in case I need this.

Once this new tab somewhere in the current website is ready to go, I'll ask for extra feedback and move this to close if this is alright for everyone.

Thanks for your time :).

[2019-06-26 09:43] dicortazar commented on #40
Thanks a lot for your time with this task! This has now been merged and it's live at http://innersourcecommons.org/contact/.

Two last things: a) please check you agree with your position, and b) that you agree or disagree about being quoted by third parties so you can be contacted.

This b) is related to people that might be contacted by third parties to use a quote from you about certain aspects

[2019-06-26 09:43] #40 closed

[2019-06-26 13:35] maxcapraro commented on #40
Very nice. Thanks for all the work @dicortazar :)

Regarding a)
I can confirm that my role and employer are correct.

Regarding b)
With all of us being listed on this public page: Is it fair to assume that everybody feels comfortable to be publicly quoted about IS? (and, thus, we can make `y` in the `quoted?` column for everybody?

[2019-07-14 01:40] cewilliams opened #54 "Slack signup not working?"
Reported by @rrrutledge

[2019-07-16 22:55] rrrutledge commented on #54
Yes!  I enter an email address but all I get is:

<img width="272" alt="Screen Shot 2019-07-16 at 3 55 15 PM" src="https://user-images.githubusercontent.com/9609562/61335380-25321f00-a7e2-11e9-9e3b-30d161599f72.png">

[2019-10-07 08:58] lenucksi commented on #54
This should be solved by now.

[2019-10-07 08:58] #54 closed

[2019-10-23 08:37] lenucksi opened #67 "Transition from Travis page deploy to GitHub actions travis deploy."
## Motivation
We currently deploy our website in this repo using Travis pushing to gh_pages.
GitHub actions is now activated on this repo and works fine for such purposes, there likely is also a readymade action to deploy a Jekyll site integrating builds with our PR nicely.

## Action
- Change from Travis to GitHub Actions

[2019-10-25 08:53] dicortazar commented on #41
@jgreen410 I think we may want to close this ticket as the Spring Summit 2020 is already in place.

What do you think?

[2020-02-10 15:06] dellagustin opened #82 "InnerSource commons history"
I am creating this issue as a follow up of the this InnerSource slack thread:
https://innersourcecommons.slack.com/archives/C04PXKRN4/p1581342026046400

I accepted driving this topic, so please assign me to this issue if possible.

[2020-02-11 04:34] rrrutledge commented on #82
So you would add a **History**  section to the `README`?

[2020-02-12 08:55] dellagustin-sap commented on #82
Hi @rrrutledge I do not know yet, I will fork it and come with a few different proposal for use to compare.
It could be a step by step approach, start with a short section on README, and migrate to a dedicated History page on the website.

What do you think about this approach?

[2020-02-12 14:38] rrrutledge commented on #82
That will work fine!  I am thinking of updating  this issue to have the acceptance criteria of producing:
* A community-agreed plan
* An issue(s) that, when finished, will implement the plan.

So this issue tracks the investigation/planning of this work rather than tracking its actual completion.

Does that make sense?

[2020-02-12 15:43] dellagustin-sap opened #85 "Role of license in InnerSource"
Consider this Issue as in status DRAFT.
I am using to signal the need of having a more structured discussion about the role of license in InnerSource and trace back to the discussion that motivated the creation of this issue in Slack: https://innersourcecommons.slack.com/archives/C04PXKRN4/p1581435794053700

The idea of this issue is to serve a point to collect the main points on discussions about

[2020-02-12 19:22] dellagustin commented on #82
Perfect!

[2020-02-13 21:34] rrrutledge commented on #85
Awesome!  Recommend opening in the [InnerSourcePatterns](https://github.com/InnerSourceCommons/InnerSourcePatterns/issues) repo (and discussing in [#innersource-patterns](https://app.slack.com/client/T04PXKRM0/C2EFRTS6A)

[2020-02-17 15:00] rrrutledge commented on #82
Sounds great, Guilherme!  I have updated the description with this acceptance criteria and assigned to you.  Please take a crack at it and let us know when you think you have something.

[2020-02-17 21:56] dellagustin opened #91 "Development environment setup with docker"
I have recently forked and cloned the repository.
As I like keeping a clean host, I will try to create a `Dockerfile` for easily setting up the environment without needing to install all the dependencies on the host.

[2020-02-17 22:21] dellagustin commented on #91
# References
- https://docs.docker.com/engine/reference/builder/#dockerignore-file
- https://docs.docker.com/engine/reference/builder/

[2020-02-17 22:38] dellagustin commented on #91
Error during tests with

[code]

[code]

Solved based on https://github.com/docker-library/ruby/issues/163#issuecomment-335522378

[2020-02-18 00:02] rrrutledge commented on #91
This is fantastic stuff, @dellagustin.  We were having need to uplevel some of our tech game!  Looking forward to seeing it develop!

[2020-02-18 07:13] dellagustin commented on #91
When trying to serve the page from the docker container with command `docker run --rm -it -v <host path of the page>:/source <image>`, and the dockerfile having the command `CMD jekyll serve --config /source/_config.yml,/source/_config_dev.yml -s /source -d /dist`, I get the error below:

[code]

I already found some references when googling, but I need some more investigation.

[2020-02-18 14:07] rrrutledge commented on #91
Thanks for this update @dellagustin.

[2020-02-18 16:44] dellagustin-sap commented on #82
Just as info - I am prioritizing #91 , as I want to have an easy to setup development environment before working on the other issues I am assigned to.

[2020-02-18 20:50] rrrutledge commented on #82
That totally makes sense!

[2020-02-18 21:48] dellagustin commented on #91
I reported an issue on https://github.com/jekyll/jekyll-sass-converter:
https://github.com/jekyll/jekyll-sass-converter/issues/102

The results I have seen before did not lead anywhere.

[2020-02-18 22:28] dellagustin commented on #91
Ok, the issue with `jekyll-sass-converter` as actually on our side.
I am surprised no one had this before, but if one includes the config file `_config_dev.yml`, then the error should occur.

The problem is the the property `sass.sourcemap` is currently set to `true`, and it should either be `never`, `always` or `development`:  https://github.com/jekyll/jekyll-sass-converter/blob/b044e9e3ad9ed9ce6

[2020-02-18 22:30] dellagustin commented on #91
Now, I got past most issues and it should be working, but I think I am facing some networking issues as I am currently using docker toolbox (poor man's version for windows 10 home ...).

I am almost installing a full fledged virtual machine.
I'll troubleshoot that, and soon we should have a docker based development environment version 1.

[2020-02-19 12:11] maxcapraro commented on #91
Thank you for working on this, @dellagustin. I always had my shenanigans with local builds and your work will make it significantly easier for everyone to contribute to the ISC website!

[2020-02-19 12:12] maxcapraro commented on #91
One note: If you like, consider creating a "WIP" pull request. Then others can jump in with their docker expertise and maybe help making sense of the error messages :)

[2020-02-19 13:50] dellagustin-sap commented on #91
@maxcapraro

That would be my normal working way 😉 , but this time it was very experimental to me, so I decided to keep the WIP transparency through comments on the issue.
I will test it today in a Docker for Mac installation, I am expecting it to work. If that happens, I will send a PR with the current status.

[2020-02-19 14:05] dellagustin-sap commented on #91
And here is why you should take the _build once, run anywhere_ moto of docker has to be taken with a grain of salt.
I use this branch to test it here in macOS: https://github.com/dellagustin/innersourcecommons.org/tree/bug-report__converters-scss-undefined-method-to_sym
I am quite sure that at least the build worked for this branch (it failed when trying to run the container, because of the issue

[2020-02-19 14:14] dellagustin-sap commented on #91
Looking back at how I am currently working:
* try, error, solve, try, error, solve

I will have some trouble explaining the reasoning behind the lines on the final `Dockerfile` without polluting it with comments. I will try to make a very complete commit message / PR message.

While doing so, I though a different working mode could be having a feature branch + Milestone + WIP PR, at each try -> fa

[2020-02-19 15:06] lenucksi commented on #91
Thanks for approaching this @dellagustin-sap! I've found myself in the "appreciating all the Jekyll things" phase repeatedly only to be overwhelmed by a case a radical pragmatism every time - "screw non-system-wide installation of Jekyll, let's get this done!" ;).
As for the desired features you mentioned initially - I'm fully on board with wanting to have them and Docker looks like a way to go he

[2020-02-19 15:06] dellagustin-sap commented on #91
Ok, so the plot thickens...

After following the advice from the error text on my last issue (``To update to the latest version installed on your system, run `bundle update --bundler`.``), I added the line `RUN bundle update --bundler` to my `Dockerfile`, resulting in:

[code]

It added a lot of build time, as it seems to be fetching and installing a lot of stuff, but it worked.
This may be a symp

[2020-02-19 16:04] dellagustin-sap commented on #91
Hi @lenucksi,

About https://github.com/InnerSourceCommons/innersourcecommons.org/issues/91#issuecomment-588280567

First a small note about your comment, I believe you have an issue with some links on the 3rd sub-bullet of the Jekyll topic. You may want to fix that.

Now, the discussion about which solution to use for static website generation tooling to use is, from my perspective, a valid one,

[2020-02-19 16:18] dellagustin-sap commented on #91
Aaaand it works!

It is a bit ludicrous that a developer has, still in this day and age, to spend so much time troubleshooting just to get some comfort on his/her development setup...

All right, now I know what to do, I want to test is also on my Docker Toolbox setup and adjust the documentation.

Also, I will try to add a `docker-compose.yml` file to reduce the setup to a `docker-compose up` com

[2020-02-19 16:29] dellagustin-sap opened #93 "Development setup error: Jekyll::Converters::Scss - undefined method `to_sym' for true:TrueClass"
When trying to use the command `jekyll serve --config _config.yml,_config_dev.yml`, it will fail with the following error:

[code]

This is a follow up of #91 , see https://github.com/InnerSourceCommons/innersourcecommons.org/issues/91#issuecomment-587315016
See also https://github.com/jekyll/jekyll-sass-converter/issues/102 and https://github.com/InnerSourceCommons/innersourcecommons.org/issues/9

[2020-02-19 16:30] dellagustin-sap commented on #93
I will fix this one, you can assign it to me.

[2020-02-19 16:31] dellagustin-sap commented on #91
Update on https://github.com/InnerSourceCommons/innersourcecommons.org/issues/91#issuecomment-587935972, I created a follow up issue for that: #93

I want to fix that one before sending a PR for the docker enablement, as the result of this PR would fail without a fix for #93

[2020-02-19 16:57] lenucksi commented on #91
Thanks for noticing, fixed it!

I entirely agree and will open & move. Just wanted to field the idea here.

On the positive side that also means that its still easy to pivot. ;)
Hugo effectively feels like Jekyll, mostly some differences in file paths and config markup.
Happy to help with the knowledge I have acquired so far.
Maybe I'll have a bit of time to whip up some demo content.

BR,
Johanne

[2020-02-19 17:09] lenucksi opened #94 "Evaluate transition away from Jekyll"
Various people repeatedly have had trouble creating a working development environment for our Jekyll-based site, one of them being @dellagustin-sap in #91. Other than that there's the odd security notice from time to time to handle.

A few other factors exist that might want to have us consider a different static-site generator.
Here's where I brought this up first: https://github.com/InnerSourceC

[2020-02-19 18:31] dellagustin commented on #91
Based on the research work I created an acceptance criteria, could someone please review it?
I want to also add something about documentation.

[2020-02-19 20:53] rrrutledge commented on #91
Thanks for this work, @dellagustin.

_Jekyll_ already provides this functionality for content files.  Hopefully the new solution doesn't remove this ability.

Other parts of acceptance criteria look good.

[2020-02-19 20:56] rrrutledge commented on #91
Oh, and congrats on the beautiful screenshot!  Looking forward to the beautiful PR!

[2020-02-20 06:36] dellagustin commented on #91
Back to my Docker Toolbox, I rebuilt the image without `RUN bundle update --bundler` just to check, I could not see the error I mention in https://github.com/InnerSourceCommons/innersourcecommons.org/issues/91#issuecomment-588248548, but I wanted to double check.

I have no idea what is causing the discrepancy, but adding  `RUN bundle update --bundler` does not harm the build of the image in Docke

[2020-02-20 06:40] dellagustin commented on #91
@rrrutledge about https://github.com/InnerSourceCommons/innersourcecommons.org/issues/91#issuecomment-588454023, I added that part because although I expect it out of the box from `jekyll serve`, I have so far not tested that yet, and also, I wanted to make it explicit, as it may be other users do not know this is a _Jekyll_ feature (as I did not) - but I don't expect the solution to remove this f

[2020-02-20 14:07] rrrutledge commented on #94
It doesn't bother me if someone wanted to convert it, but I haven't experienced said difficulties with _Jekyll_ so it doesn't bother me to stay, either.

[2020-02-21 23:19] dellagustin commented on #91
Somehow, the stretch goal:

was not acomplished by #99 , although this was expected out of the box (maybe my instincts where telling me something when I documented it as stretch goal 😁 )

[2020-02-21 23:27] dellagustin commented on #91
Collecting some references for toolbox enablement, and possibly some issues that could come with Docker for Windows:
- https://tonyho.net/jekyll-docker-windows-and-0-0-0-0/
- https://github.com/jekyll/jekyll-admin/issues/460

[2020-02-23 09:53] dellagustin commented on #91
I recorded the leftover issues for Docker Toolbox in https://github.com/InnerSourceCommons/innersourcecommons.org/issues/100

[2020-02-23 14:33] dellagustin commented on #100
while looking at our code, I started thinking that our issue is not really with Docker Toolbox, but related to the fact we use absolute URLs in many places, instead of relative paths.

i.e.:
https://github.com/InnerSourceCommons/innersourcecommons.org/blob/ffdf2e3ba5557c11983cb52c4c862fc2641a8e93/_includes/_head.html#L24

I will have to check what is the best practice for when referring to assets,

[2020-02-23 14:55] dellagustin commented on #100
After reading:
* https://jekyllrb.com/docs/liquid/filters/
* https://github.com/jekyll/jekyll/issues/6360

I believe we should be using something like:
[code]

instead of

[code]

[2020-02-23 16:45] dellagustin commented on #100
Bad news, I think we are gonna have to get rid of urlimg, as there is no standard filter for that: https://jekyllrb.com/docs/liquid/filters/

Images src would have to be reworked.
Perhaps we should create a custom filter.
A possible solution would be something on this line:
- https://github.com/Phlow/feeling-responsive/issues/186
- https://stackoverflow.com/questions/55665544/how-can-i-create-a-je

[2020-02-23 16:55] maxcapraro commented on #100
I think @cewilliams created the initial version of the website. Maybe he has insights about `urlimg` and whether removing it will make something epxlore :)

[2020-02-23 17:03] dellagustin commented on #100
I just noticed that there are a lot of concatenations of `site.url` with other stuff, which indicates that absolute path is used throughout the website.

A lot of refactoring will be necessary to bring the website into a state that does not use unnecessary absolute links.

I am thinking about creating a issue exclusively for this topic, and clean it up little by little.
Meanwhile, I think I will h

[2020-02-23 18:11] dellagustin commented on #100
I just found out something rather interesting.
Sometimes it is good to trust your instincts... I started removing the usage of absolute path urls, but decided to first test how that looked like with `jekyll build`, in contrast to `jekyll serve`, as during my research I read somewhere that there were differences.

What I did, was to build it into `_site`, and simply serve from there using a simple

[2020-02-24 13:49] rrrutledge commented on #100
Thanks for documenting these issues, @dellagustin

[2020-02-24 13:55] rrrutledge commented on #101
This is a great question, @dellagustin.  Why don't you represent this topic in [#tech-infra](https://app.slack.com/client/T04PXKRM0/CGSE508A1) to get a discussion and some direction?

[2020-02-24 14:10] dellagustin-sap commented on #91
Based on https://tonyho.net/jekyll-docker-windows-and-0-0-0-0/
(See section _jekyll serve and URLs_)

When jekyll serve is run with --host=0.0.0.0, Jekyll sets the host portion of the site URL to 0.0.0.0 by default, regardless of the url setting in the config. This also affects any absolute URL that Jekyll generates.

The way I read it: My PR will work on mac, as it understands http://0.0.0.0/ as

[2020-02-24 16:49] dellagustin-sap commented on #101
Linking back to the corresponding slack thread: https://innersourcecommons.slack.com/archives/CGSE508A1/p1582562709013200

[2020-02-24 16:49] lenucksi commented on #101
I'm fine with Tabs. Some consistency and linting would probably not harm anyone and might help others.

[2020-02-25 14:20] #93 closed

[2020-02-26 16:09] dellagustin-sap opened #110 "Social media presence of InnerSource"
Are there plans for Social Media presence of InnerSource?
i.e. a twitter account, facebook page, etc...

[2020-02-27 13:24] lenucksi commented on #110
Yes, there are and there's a bit present already.
- Twitter is currently in the process of being addressed.
- There's a [LinkedIn Group](https://www.linkedin.com/groups/4772921/) and a [LinkedIn Page](https://linkedin.com/company/innersourcecommons) both of which you are invited to join.
- There's our [YouTube channel](https://www.youtube.com/channel/UCoSPSd6Or4F_vpjo4SmyoEA) which you can subscri

[2020-02-27 18:28] #110 closed

[2020-03-01 10:42] dellagustin-sap opened #112 "Inconsistent usage of https://www.innersource.events/"
In the webpage, this domain is referred to as being the Commons Summit 9 - Fall 2019:

- https://github.com/InnerSourceCommons/innersourcecommons.org/blob/67eb6ffb3610f3daf6d4ea185cc8d98242ff1e2f/_data/navigation.yml#L16
- https://github.com/InnerSourceCommons/innersourcecommons.org/blob/67eb6ffb3610f3daf6d4ea185cc8d98242ff1e2f/events/index.md#L11

but the domain https://www.innersource.events/ is

[2020-03-03 14:25] rrrutledge commented on #112
@jacoblyopen may have some insight, here.

[2020-03-05 19:49] lenucksi commented on #112
Yes, it did definitely show different content before. Archive.org or the Google Cache might help here.

Yes absolutely. I guess @jacoblyopen is in control of the domain, as @rrrutledge  said

[2020-03-07 09:08] dellagustin commented on #100
I managed to solve this issues on #99 , see the PR text for more information.
Once #99 is merged we can close this issue.

[2020-03-07 09:12] dellagustin opened #115 "Refactor: reduce usage of absolute paths on website"
This issue is a follow up of #100 ,

See the following comments:
- https://github.com/InnerSourceCommons/innersourcecommons.org/issues/100#issuecomment-590076797
- https://github.com/InnerSourceCommons/innersourcecommons.org/issues/100#issuecomment-590089340
- https://github.com/InnerSourceCommons/innersourcecommons.org/issues/100#issuecomment-590091217

#100 will be fixed with #99, but it would b

[2020-03-07 09:24] dellagustin commented on #112
I tried webarchive, but it is not helping much. It show only two records in 2019, but when I click them it does not show any useful information :(

[2020-03-07 09:35] dellagustin opened #116 "RSS and Atom feeds currently have no function."
The links to RSS and Atom feeds currently have no function, the feeds are not presenting any news or articles, just a title.

Additionally, clicking them shows an empty page on the browser.

[feeds innersource.zip](https://github.com/InnerSourceCommons/innersourcecommons.org/files/4301635/feeds.innersource.zip)

[2020-03-07 09:43] dellagustin opened #117 "Review links to articles"
Some of the links are not available anymore.
The original link to Tim O’Reilly, Open Source and OpenGL, response to Matt Feinstein is now redirecting to https://www.oreilly.com/

I suggest we replace the broken links with the latest available snapshots at http://web.archive.org/

[2020-03-09 13:10] rrrutledge commented on #115
Thanks for opening this issue, @dellagustin

[2020-03-09 13:11] rrrutledge commented on #112
There was a previous page that explained the 2019 North America InnerSource Summit.  Sorry it's not on _webarchive_, but I don't think it's too big of a deal to worry about.

[2020-03-09 13:12] rrrutledge commented on #116
I didn't even know we had them!  Just remove the links to them?

[2020-03-09 13:12] rrrutledge commented on #117
Sounds good to me.

[2020-03-09 13:29] dellagustin-sap commented on #112
Hi @rrrutledge , not a big deal, but still a deal 😃

What I am referring to is the links to the event in the website:
![image](https://user-images.githubusercontent.com/54676965/76216307-a9716080-6210-11ea-89fd-661d5eb357e2.png)

We would need to either point somewhere or remove the links, as they are currently pointing to https://www.innersource.events/, which in turn is directing to the latest e

[2020-03-09 21:30] rrrutledge commented on #112
Yes!  Well-researched.  I'd vote for just removing the link.

[2020-03-09 22:13] dellagustin opened #119 "Add support for Jekyll Relative Links"
# Reasoning

When pages are generated from Markdown content, users (including me) expect that links to relative md files (i.e. `[some text](./other-file.md)` will automatically be converted to links to the rendered page corresponding to the linked file.

Turns out that Jekyll does not support this out of the box.

## Consequence

Without support for relative linking to other files, there are two o

[2020-03-09 22:46] dellagustin commented on #116
That is possibly the easiest course of action.
Unless we plan releasing news or actually start writting blog posts (currently we just have pages, but no blog), then the feeds don't make much sense.

If we remove the links, I think we should also remove any related files (`assets/xslt`, `pages/pages-root-folder/atom.xml`), to avoid unnecessary content on the repo (I am already thinking about creati

[2020-03-10 04:31] rrrutledge commented on #119
That's a great idea!  It looks like it's [supported by _GitHub_ pages](https://pages.github.com/versions/), too!

[2020-03-10 04:33] rrrutledge commented on #116
Started a discussion in [#tech-infra](https://innersourcecommons.slack.com/archives/CGSE508A1/p1583814799020400).

[2020-03-10 09:06] maxcapraro commented on #116
At some point, we plan to have blog-like contents but we did not work on that yet (other then the one press release for incorporation).

imho: We should drop the RSS feed link because it might lead to frustration with users who are expecting regular news contents in the feed.

[2020-03-10 10:14] dellagustin opened #121 "DRAFT - Why do we use travis to build the website?"
I will elaborate later, at the moment it is pointer to myself.

[2020-03-10 11:25] rrrutledge commented on #121
Transitioning to _GitHub_ pages native build sounds great.  The only thing preventing would be if there were some _Jekyll_ plugins that were not supported by _GitHub_ pages.

[2020-03-10 11:53] #41 closed

[2020-03-10 14:32] dellagustin commented on #121
@rrrutledge this was actually triggered by your comment on #119 => https://github.com/InnerSourceCommons/innersourcecommons.org/issues/119#issuecomment-596897088 😃

I was already asking myself why we used travis (makes sense for automated checks on PRs) to build the webpage, as based on my past experience the pages were generated automatically by GH.
I created this issue to do an analysis and even

[2020-03-10 14:54] jacoblyopen commented on #112
Sorry.  Just getting to this after vacation.

The domain innersource.events can point to whatever we want. Right now it points to the ISC main site.

The old site content from the Fall 2019 site was a Wix hosted site, which is a turn key service.  The content is here:  https://jacobgreen197.wixsite.com/mysite-1.  I removed payment from the site, so now the site has ads.

We could have the Fall 201

[2020-03-10 21:58] rrrutledge commented on #121
Sounds great!  Propose away!  Let's do this!

[2020-03-10 21:59] rrrutledge commented on #112
That looks great, @jacoblyopen.  Let's update our link to point to that site!

[2020-03-11 07:52] dellagustin-sap commented on #112
I saved the webpage at web.archive.org, and navigated to the main subpage, also archiving it.
We should be safe now with respect to archival.
https://web.archive.org/web/20200311074754/https://jacobgreen197.wixsite.com/mysite-1

[2020-03-11 09:04] dellagustin-sap commented on #112
I sent #122 we the updated link.

[2020-03-11 13:30] rrrutledge commented on #112
Merged.  Great!

[2020-03-11 13:30] #112 closed

[2020-03-13 07:44] dellagustin-sap commented on #112
Hi @rrrutledge, @jacoblyopen ,

At the end, should we change https://www.innersource.events/ so that it points to https://innersourcecommons.org/events/ ?

Or will we use it to always point to the last event?

I am fine with both, but the second option is a bit more maintenance for you.

What I understood from @lenucksi 's comment (https://github.com/InnerSourceCommons/innersourcecommons.org/issue

[2020-03-13 08:09] dellagustin-sap opened #123 "Add InnerSource Days at OSCON to the events list"
This is a follow up of #118.
@maxcapraro raised the question/suggestion that we added the previous OSCON InnerSource days to the list too - https://github.com/InnerSourceCommons/innersourcecommons.org/pull/118#discussion_r391836343.

@rrrutledge and myself agreed.

Links
- 2018 - https://conferences.oreilly.com/oscon/oscon-or-2018/public/schedule/full/innersource-day
- 2017 - https://conferences.o

[2020-03-13 20:20] lenucksi commented on #121
This is related to #67
- The initial reason for Travis was probably "because it's there and I know it" coupled with "we need the bit of extra plugins"
- There are multiple variations of no-maintenance + no-involvement builds with bells & whistles available from the GitHub Actions market. Take a look here: https://github.com/marketplace?type=actions&query=jekyll
  - Bells and whistles being extra p

[2020-03-13 20:27] lenucksi commented on #116
I would very much appreciate blog posts as well a well working RSS feed (that btw can be hooked up to the usual social media sites as a source using tools such as recurpost etc.)
Removing it for the time being is likely ok.
Adding a follow-up issue around the blog.

[2020-03-13 20:29] lenucksi opened #124 "Transform /news to be a blog, publish actual blog posts have a meaningful RSS feed"
In #116 we found out that we currently have no meaningful RSS feed, deactivated it and confirmed our desire to write blog posts.
Once we've arrived there we need to reactivate our RSS feed.

[2020-03-13 20:36] lenucksi commented on #112
He does and would argue that one could place the most recent event front & center there so the attention focusing effect and ability to hand out a short URL remains. ;)

[2020-03-13 20:49] lenucksi commented on #117
- The articles section needs a bit more love indeed. A longer while ago I was talking with @kjstol about restructuring things and adding a few of the academic papers as well. Then life happened as usual ;)
- Still something that would be very welcome. Integration with our social pages and marketing efforts will help.

- As for link health:
  - Replacing with archive.org sounds good to me.
  - Iden

[2020-03-13 20:56] lenucksi commented on #100
#99 got merged so I think we can close this issue.

[2020-03-13 21:29] rrrutledge commented on #112
I'm not even sure who set up _innersource.events_.  @jacoblyopen, did you set that up?

[2020-03-16 20:22] dellagustin commented on #117
@lenucksi thanks for the tips finding broken links.

Here are some results:
![image](https://user-images.githubusercontent.com/260113/76796614-1ca84300-67cc-11ea-8210-8c6ddc695c78.png)

![image](https://user-images.githubusercontent.com/260113/76796640-2f227c80-67cc-11ea-9307-d043077b67b9.png)

[2020-03-16 20:30] dellagustin commented on #117
I used https://www.drlinkcheck.com/, so far seems to be the best result:
[Account - Dr. Link Check.mhtml.zip](https://github.com/InnerSourceCommons/innersourcecommons.org/files/4340240/Account.-.Dr.Link.Check.mhtml.zip)

[2020-03-18 14:17] lenucksi commented on #117
Does #127 conclude the link checking action that this ticket was made for?

[2020-03-18 15:37] rrrutledge commented on #117
☝️

[2020-03-24 13:34] michael-spengler opened #130 "Slack Inviter: Not able to proof I am human :)"
![Screen Shot 2020-03-24 at 14 33 00](https://user-images.githubusercontent.com/43786652/77431087-846a1980-6ddc-11ea-9d10-c024775fba78.png)

[2020-03-24 19:20] lenucksi commented on #130
From what I saw you were able to prove your humanity to other humans and have been let in ;).
Hence I'm closing this ticket.

[2020-03-24 19:20] #130 closed

[2020-03-28 07:52] spier opened #134 "Delete wiki pages that were ported to InnerSourcePatterns"
As part of https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/134 I ported a couple of patterns from this wiki [innersourcecommons.org/wiki](https://github.com/InnerSourceCommons/innersourcecommons.org/wiki) over to the InnerSourcePatterns repo.

To reduce duplicate content and create a single source of truth of ISC Patterns in the InnerSourcePatterns, it would be great if somebody wit

[2020-03-30 14:15] dellagustin opened #140 "Investigate regression issue on script loading caused by cd24376afbb13242f34a6894d46a7fd7f71f3d77"
See https://innersourcecommons.slack.com/archives/CGSE508A1/p1585563137001900

Regression of:
https://github.com/InnerSourceCommons/innersourcecommons.org/commit/cd24376afbb13242f34a6894d46a7fd7f71f3d77#diff-6e3a62128fbb91f791bfc160358e968a

in the following lines:
[code]
the first script was resolving correctly to the relative path, but the second one resulted in an empty source.

See https://git

[2020-04-15 13:51] dellagustin-sap commented on #85
PR mentioned in by @maxcapraro at the ISC Summit https://github.com/InnerSourceCommons/InnerSourcePatterns/pull/147

InnerSource License Pattern

[2020-04-18 16:37] maxcapraro commented on #85
@dellagustin-sap and @rrrutledge: Please feel invited to contribute to the discussion in the PR listed above :)

[2020-04-18 16:37] #85 closed

[2020-04-25 15:22] lenucksi commented on #134
Deleted the mentioned pages and checked off the check-boxes here.
Please creat another issue if more pages have been ported and need deletion in the wiki.

[2020-04-25 15:22] #134 closed

[2020-05-13 13:03] spier opened #167 "What to do with the domain inner-sourcing.com?"
By chance. I found http://www.inner-sourcing.com/wiki/inner-source-wiki/ and it looks like the content has been migrated to http://innersourcecommons.org/resources/articles/. It doesn't look like inner-sourcing.com has any further active content.

Do we know who owns that domain and what we might want to do with it?
e.g. we could redirect it to innersourcecommongs.org for example to drive more tra

[2020-05-13 13:13] spier commented on #167
Strange. I tried to open the link http://www.inner-sourcing.com/wiki/inner-source-wiki/ again, and now it seems to be gone. Yesterday it was still there :)

So we probably close this issue without any any action.

[2020-05-14 12:55] lenucksi commented on #167
The domain is owned by @kjstol as far as I know.
We could convert it into a redirect to our site and see through the material if there is something that we need to migrate. What does @kjstol think about this?

[2020-05-20 06:49] ashishjain14 opened #170 "List of participating companies and case studies"
Hi,
The current list available [here](https://github.com/InnerSourceCommons/innersourcecommons.org/wiki/Participating-in-the-InnerSource-Commons) has names of only 6 companies but I read there are 70 participating companies in InnerSource commons where can I find the list of other companies.

Also in the book [Adopting InnerSource](http://innersourcecommons.org/assets/files/AdoptingInnerSource.pdf

[2020-05-20 22:23] mekkim commented on #170
We have some internal case studies at IBM that we use when talking with clients but I'm unsure if they're in a format suitable for public release.  I'm investigating.

[2020-05-21 05:03] ashishjain14 commented on #170
Planning for a talk on InnerSource and some of this info may come handy.

[2020-07-25 15:31] lenucksi commented on #174
I guess we have now done this and set a precedent on how to do this in the future. Should we close this now?

[2020-07-27 10:59] rrrutledge commented on #174
Ideally we’d document it, too, but if someone wants to close the issue now that’s fine.

[2020-10-27 19:46] gruetter opened #218 "Add bylaws to About -> Board page"
as per [suggestion](https://innersourcecommons.slack.com/archives/G012NHSA7DZ/p1603792863000600?thread_ts=1603732335.079200&cid=G012NHSA7DZ) from @MaineC

[2020-12-13 10:07] voborgus commented on #167
Up this thread @kjstol

[2020-12-13 15:41] lenucksi commented on #167
Last time I talked to @user-group he was ok with just redirecting it to the .org domain.

[2020-12-15 22:10] lenucksi commented on #67
#233 adds this and we need to switch over the rendered public website to the new branch.

[2020-12-20 15:09] spier commented on #218
@gruetter can this issue be closed? Looks like there is a merged branch associated to it in #219 already?

[2020-12-23 07:35] spier opened #245 "Establish Trusted Committers concept for this repo"
For the InnerSourcePatterns we have definition a small group of [Trusted Committers](https://github.com/InnerSourceCommons/InnerSourcePatterns/blob/master/TRUSTED-COMMITTERS.md) (TCs) and a process around that.

One thing that it helps with is that those TCs will get notified automatically when new PRs come in. (requires configuration in `.github/CODEOWNERS`)

I am wondering if this repo here woul

[2020-12-23 07:36] spier commented on #245
@rrrutledge you were the one that merged my first PR with a typo fix for the website :) So I figure might have input on this topic too.

[2021-01-03 16:31] spier commented on #123
@lenucksi thx for merging the PR. This issue can now be closed.

[2021-01-03 17:01] #123 closed

[2021-01-13 10:40] schorschie opened #249 "Captcha for joining the slack group is unsolvable"
Hello,

the captcha on [innersourcecommons.org](http://innersourcecommons.org/) for joining the slack group is unsolvable, because it is cropped too much.

[2021-01-20 10:16] voborgus commented on #249
hi @schorschie ,

we're using the standard reCAPTCHA service, and seems it's OK for me. Can you check zooming settings in your browser and share the screenshot, please?

[2021-01-20 10:18] voborgus commented on #245
Can be figured out at the new version on the site when we'll divide the site into the WG sections.

[2021-01-20 10:20] voborgus commented on #167
Up this thread @user-group @kjstol for the redirect.

[2021-01-20 10:27] voborgus commented on #170
Hi there, sorry for the long-long answer,
this is definitely the thing we need to collect and list on the website.
We'll put this issue to the new version of the site, and for now, one of the most full list you can find in the recent Danese's video: https://youtu.be/ddlb3gh4WwE?t=925

[2021-02-02 21:22] schorschie commented on #249
![2021-02-02_LI](https://user-images.githubusercontent.com/13631749/106664246-161de800-65a5-11eb-8788-30cd35f29e74.jpg)

[2021-02-22 12:36] voborgus commented on #249
@schorschie, thanks for the screenshot, now it's clear.

We paused all works currently on the old site since the new site preparations: https://github.com/InnerSourceCommons/innersourcecommons.net

Hope to move to the new site in a month and then this issue will be not actual.
If you still can't access slack please use [this](http://innersourcecommons.org/slack) link.

[2021-03-22 03:29] cewilliams opened #100 "Change default branch name from master -> main"
"master" as a branch name has some hostile implications. Suggest we change to "main" for the primary branch. Would need to:

* Rename branch via github repo settings (settings/branches)
* Update github workflow push branch
* Update branch protection in settings if not automatically renamed
* Inform the community members that may have the repo checked out locally

[2021-03-24 10:48] clcoffey opened #101 "robots.txt blocking Google from indexing the paterns.innersourcecommons.org"
**Describe the bug**
Google has indexed the new website however it came back with the warning that robots.txt blocked https://patterns.innersourcecommons.org/

**Expected behavior**
https://patterns.innersourcecommons.org/ should be indexable by Google.

**Additional context**
Please remove the following from robots.txt file: https://patterns.innersourcecommons.org/robots.txt

User-agent: *
Disall

[2021-03-24 12:13] spier commented on #101
To generate the content for patterns.innersourcecommons.org we use a service called gitbook.com.

The [robots.txt](https://patterns.innersourcecommons.org/robots.txt) mentioned above must be generated by gitbook, because we did not create that file ourselves.

However I just found one configuration setting on gitbook that sounds related:
* **Unlisted** - The content will only be visible to those w

[2021-03-24 12:49] clcoffey commented on #101
That's great! Thanks Sebastian! I will let you know if this fixed it as soon as Google finishes the verification.

[2021-03-25 16:54] clcoffey opened #103 "Clean up past events pages"
**Describe the bug**
- Some links are broken in the past events pages
- Speakers bios are missing from the past events pages
- Some pictures are not showing up on certain pages

**Expected behavior**
I expect that all the links should be working
I would like to have access to the bios of the past speakers
I would like to see all pictures included on the pages and not just broken icons of them.

[2021-03-27 21:30] clcoffey commented on #101
Sorry Sebastian but it seems like your fix hasn't worked. :-(

![screencapture-search-google-search-console-index-drilldown-2021-03-27-21_24_45](https://user-images.githubusercontent.com/78749459/112735398-975d7f80-8f43-11eb-8e40-0f0a16ce0878.png)

[2021-03-28 19:15] spier commented on #101
That's strange.

What do you see when you click that "See Details" button in the Search Console?

Also some of the patterns have been indexed by Google apparently.
Not sure how that would work if the `robots.txt` would really generally forbid it?
See https://www.google.com/search?q=site:patterns.innersourcecommons.org

[2021-04-01 11:33] clcoffey commented on #101
Hi @spier
Sorry for the late reply. There isn't much more information when I click on "See Details". Please find below the screenshot.
I can try and ask them to validate it again and see if we get the same problem. It seems like it's the only page they are having trouble with. Also, they are coming back with a working rather than an error so maybe it's not that bad.

![screencapture-search-google-

[2021-04-02 11:05] spier commented on #101
@clcoffey last time I checked google had indexed 8 pages already. Not its up to 20 indexed pages.
I believe the total page count in the book is 24 or so, so the indexing is almost done.

As for the strange behavior in the Google Search Console: I really don't know.

So maybe just try to validate again, as you were saying?

[2021-04-06 08:50] #103 closed, assigned to clcoffey

[2021-04-06 08:53] claredillon opened #107 "Update board page"
The ISC voted in a new board. The Board page here needs to be updated: https://innersourcecommons.org/about/board/

Details for the new board are here: https://docs.google.com/document/d/1VEJxuDIG_m4-eS3BRdJKn59NkadcvMx5r_AgxMB3k08/edit?usp=sharing

[2021-04-06 09:29] clcoffey commented on #107
I'll pick this up.

[2021-04-06 09:31] clcoffey commented on #101
This worked. Thanks @spier.
Closing this issue now.

[2021-04-06 09:31] #101 closed, assigned to spier

[2021-04-06 09:37] clcoffey opened #108 "Access to Assignees"
Can I please have access to assign myself to issues when I work on them?

Also, I have tried to move my cards into the Done section in Projects however I can't do it, even though the issues have been closed. Is this an automation problem or do I need specific access in order to do that too?

Any help would be much appreciated.

[2021-04-06 09:56] voborgus commented on #108
Of course! Can you check it now please?

[2021-04-06 09:59] clcoffey commented on #108
Sorry Dmitrii, it's still not working for me. (either of the above) :-(

[2021-04-06 10:07] voborgus commented on #108
You should accept an invitation to the repository :)

![image](https://user-images.githubusercontent.com/9394918/113694975-0a4fbe80-96d9-11eb-9e97-100a056e07a2.png)

[2021-04-06 10:11] clcoffey commented on #108
Dmirtrii, you are a star! Thank you so much!

[2021-04-06 10:11] #108 closed, assigned to nobody

[2021-04-06 11:29] #107 closed, assigned to clcoffey

[2021-04-29 09:11] spier opened #113 "Are the bylaws outdated?"
**Describe the bug**

I noticed that the [bylaws on the website](https://innersourcecommons.org/documents/bylaws.pdf) are different from the [bylaws in gDrive](https://docs.google.com/document/d/109XWFL_MypH9V2gMd8my0YFzxOQkwJTF/edit). Is the one on the website potentially outdated?

**Expected behavior**

The most up-to-date version of the Foundation's bylaws should be published on the website.

[2021-06-08 09:24] claredillon commented on #113
@MaineC - can you confirm that the bylaws in the gDrive document are the correct ones - or is there a version in GitHub we should take as the official version? Thanks!

[2021-06-29 15:36] clcoffey opened #132 "Learning Path video updated"
**Describe the bug**
We have updated the Learning Path Become an InnerSource Contributor Video on Youtube. This has broken the link on the website: https://innersourcecommons.org/learn/learning-path/contributor/02/

**Expected behavior**

The new video link is: https://youtu.be/S0Gps2AbZ7M
Please update the link on the website so that the new video will be embedded and will play in the page.

**Ad

[2021-06-29 15:37] clcoffey commented on #132
@tsadler1988 and @voborgus is there any chance you could help with this?

[2021-06-29 16:09] voborgus commented on #132
The easiest and the ugly way is to change the `youtubeCode` [directly](https://github.com/InnerSourceCommons/innersourcecommons.org/blob/master/content/learn/learning-path/contributor/02.md):
![image](https://user-images.githubusercontent.com/9394918/123831665-3b711100-d90d-11eb-9b8f-4dba00760a8b.png)

But much better to wait for @tsadler1988 for correct change with re-generation from learning pat

[2021-06-29 16:28] tsadler1988 commented on #132
For now there are quite a few manual steps:
1. Update the URL in the [config](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/config/urls.yaml)
1. Open a PR on https://github.com/InnerSourceCommons/InnerSourceLearningPath
1. Get the PR merged
1. [Regenerate the Learning Path markdown](https://github.com/InnerSourceCommons/InnerSourceLearningPath/tree/master/scripts#how-to

[2021-06-30 11:51] clcoffey commented on #132
Thanks @tsadler1988 and @voborgus
I've done steps 1 & 2 in Tom's list.
Waiting for step 3

[2021-06-30 21:24] clcoffey commented on #132
Ok, it took me a while but I managed to get through all the steps :-)

[2021-07-01 10:44] tsadler1988 commented on #132
I think there's 1 missing step on the YouTube side - the new video doesn't seem to have a proper thumbnail (https://img.youtube.com/vi/v3aRZkbTSmY/mqdefault.jpg). Not sure how to do this I'm afraid, but these are used on the website so could do with being updated.

I'm not sure if we have copies of the thumbnails anywhere, but re-using the old video's thumbnail should be fine.

[2021-07-01 11:55] voborgus commented on #132
@tsadler1988 seems the URL for thumbnail in this PR is correct and working and we can merge this:
https://img.youtube.com/vi/S0Gps2AbZ7M/mqdefault.jpg

[2021-07-01 13:05] tsadler1988 commented on #132
Ohh I was looking at the old video ID - my mistake!

[2021-07-01 18:34] #132 closed, assigned to nobody

[2021-07-06 06:59] voborgus commented on #113
@MaineC up this thread

[2021-09-22 20:37] derekmurawsky opened #171 "Sharing via MS Teams (Social shares) does not have a nice image"
**Describe the bug**
When sharing out via MS Teams, no nice image is displayed.

**Expected behavior**
When sharing via teams, an image should appear along with the title and description

**Additional context**
This will likely carry over to other social media platforms. The meta property og:image and it's associated items appear to be missing. For more info see: https://stackoverflow.com/question

[2021-09-22 21:04] derekmurawsky commented on #171
This seems to be set at a page level, and not a project-wide level, which makes sense considering you would want this customized to be relevant to the page in question. At the very least, I would recommend setting in on _index.md for the main page. It would be nice to have this as a default at the site level, but allow it to be overriden per article. That would ensure there is always a graphic dis

[2021-09-27 06:31] #171 closed, assigned to nobody

[2021-10-06 15:46] clcoffey opened #174 "Broken Links"
**Describe the bug**
Some links on the website inside the Events pages are broken. The ones that I found were in the schedule of the Spring Summit 2020 https://innersourcecommons.org/events/isc-spring-2020/ for the names of the speakers.

**Expected behavior**
Remove the broken links and just leave the speaker names.

[2021-11-13 15:02] voborgus opened #198 "UI enhancements from #189"
Moved from #189
@spier commented:

There are still some other UI glitches in this area that could still be improved:

- Bring the images of the Summits to the same size, or find other ways to make sure that event title etc are aligned
- How to align the text if the title breaks into 2 rows?
- How to align the Open/Watch buttons horizontally? Maybe that would get fixed together with (2) automatical

[2021-11-13 15:02] voborgus commented on #198
My thoughts:

The most valid way is to change the pictures. As a dirty workaround, I can suggest setting height via CSS for all images on these pages [according to CSS breakpoints](https://getbootstrap.com/docs/5.0/layout/breakpoints/): 197px, 163px, etc. But IMHO it is too dirty and I would suggest not go with this way :)

![image](https://user-images.githubusercontent.com/9394918/141648431-3a06f

[2021-12-15 13:02] clcoffey opened #208 "InnerSource in Action page"
**Is your feature request related to a problem? Please describe.**
The InnerSource in Action page is getting really long and with more and more companies wanting to be featured with quotes, and make it high on the list Clare and I believe the page needs to be restructured.
We are also recording the evidence (link to article or video) that each company featured on the list is engaging in InnerSourc

[2021-12-15 13:25] clcoffey commented on #208
Here is a version of the page with icons in the colour of the website. I quite like this too
![ISinA-colorful icons](https://user-images.githubusercontent.com/78749459/146194866-2a5b23be-f9cf-435b-b864-4a2a438c0a67.png)

[2022-02-21 11:17] #208 closed, assigned to nobody

[2022-02-21 11:20] clcoffey opened #231 "InnerSource in Action Page"
Bring in from https://github.com/InnerSourceCommons/innersourcecommons.org/pull/230

@spier noticed:

- The citation text for Walmart and WayFair is the same (likely a bug)
- The citation fo GitHub sounds strange to me:
"The reason why InnerSource works is because like open source you're working with people who are collaborating with different priorities kind of thing because they're working on di

[2022-02-21 11:21] clcoffey commented on #231
@Katiegilroyy can you check these?

[2022-02-21 11:25] spier commented on #231
Excellent. Thanks!

[2022-02-22 13:57] clcoffey commented on #231
I added these tasks to a new issue in the Marketing Repository https://github.com/InnerSourceCommons/InnerSourceMarketing/issues/149 I will close it here.

[2022-02-22 13:57] #231 closed, assigned to nobody

[2022-03-03 09:54] clcoffey opened #236 "One place to update the # of individuals in ISC"
**Is your feature request related to a problem? Please describe.**
As the number of individuals in ISC is continually growing, every time we update the website we have to change this number in multiple places. This is prone to introduce human error as some pages might be forgotten.

**Describe the solution you'd like**
Is there a way to include a constant that is used in all these places and just

[2022-03-03 09:55] clcoffey commented on #236
@spier and @voborgus any idea if this is possible?

[2022-03-03 11:08] spier commented on #236
In how many places do we mention that number?
As an aside: Might be worth considering to reduce the number of places but that wasn't your question.

I would suspect that Hugo has some **global context**. Maybe called **global variables** or similar. That could be used for this.

Unfortunately I don't have time to look this up right now.

[2022-03-03 11:18] clcoffey commented on #236
We mention it in 6 places. It's no rush, I can try and look it up as well. I just thought you might know how to do it off the top of your head :-)

Thanks for taking the time to consider it.

[2022-03-03 18:46] spier commented on #236
Looks like we could use a site param. We would define it in `config.yaml`.

https://gohugo.io/variables/site/#the-siteparams-variable

[2022-03-04 16:38] guiofsaints opened #237 "Translate to pt-BR"
Hello, I would like to start some translations of the Inner Source Common into Portuguese (pt-BR), where do I start?

Could anyone give me some recommendations of which project or file?

Tks

[2022-03-05 13:09] lenucksi commented on #237
Hi @gui-text Depending on the content it would be a good way to reach out to the various trusted committers of the working group whose content you'd want to translate: @lenucksi or @rrrutledge or @tsadler1988 for the learning path content and patterns and @spier for more patterns stuff. I'm note sure who currently cares most for the general website parts but @voborgus might be a good first contact

[2022-03-07 19:32] rrrutledge commented on #237
If you want to translate the [learning path](https://innersourcecommons.org/learn/learning-path/) content.  Then you can check out our [README](https://github.com/InnerSourceCommons/InnerSourceLearningPath#readme) and [translation](https://github.com/InnerSourceCommons/InnerSourceLearningPath/blob/master/CONTRIBUTING.md#translations) instructions.  We have an active community around the learning p

[2022-03-08 03:20] guiofsaints commented on #237
I'll start with these links.

Thanks @rrrutledge @lenucksi

[2022-03-08 03:21] #237 closed, assigned to nobody

[2022-03-08 10:52] rrrutledge commented on #237
Great!  You can find links to our Slack channel in the website if you want to join and chat more in there!

[2022-03-24 06:44] claredillon opened #243 "Change the order of the reports on the Research page, so the latest is first."
**Is your feature request related to a problem? Please describe.**
It would make it easier to see latest research if the research were ordered in descending order of time on

https://innersourcecommons.org/learn/research/

**Describe the solution you'd like**
Please change the order they are included so the latest is first.

**Additional context**
Add any other context or screenshots about the fea

[2022-03-24 16:37] claredillon opened #244 "Change the Bitergia logo on InnerSource in Action page"
As per email from Georg - can we please change the Bitergia in Action Page. Thanks!
![bitergia_logo_text](https://user-images.githubusercontent.com/32961070/159965890-3450832e-1355-4c10-b1df-99144bbd32d5.png)

[2022-04-01 11:29] #244 closed, assigned to clcoffey

[2022-04-04 14:52] claredillon commented on #243
@kjstol @clcoffey - what do you think about this suggestion?

[2022-04-04 14:54] clcoffey commented on #243
Sounds great! Need to investigate how to do it though.

[2022-04-04 16:55] claredillon commented on #243
Perhaps @voborgus can help here - he said he may have some time to give web site stuff! :)

[2022-04-04 17:48] voborgus commented on #243
Easy – #249 🙃

[2022-04-04 18:20] voborgus commented on #236
Done in #250

[2022-04-05 10:54] claredillon commented on #113
We have confirmed that the Bylaws on the website are indeed out of date. The version on the website is likely to be an artifact from the previous website that was copied over (dating from Dec 2017). I am checking with the board to get the latest ratified version so we can update.

[2022-04-12 11:12] #243 closed, assigned to nobody

[2022-04-12 11:17] #236 closed, assigned to nobody

[2022-04-12 15:54] clcoffey opened #253 "Services Directory Page"
**Is your feature request related to a problem? Please describe.**
The InnerSource Commons (ISC) Services Directory is proposed to provide additional value to the InnerSource Commons community and the InnerSource ecosystem at large, in the following ways:
- Provide a place for InnerSource practitioners to find an unbiased listing of all available InnerSource services.
- Provide a place for organiz

[2022-04-12 15:55] clcoffey commented on #253
@voborgus any chance you could help with this one?

[2022-04-13 07:53] clcoffey commented on #253
@claredillon suggested:

I will mock up a version of the page like that too

[2022-04-13 09:45] clcoffey commented on #253
![Version 2](https://user-images.githubusercontent.com/78749459/163149681-cdda570e-d32c-40bf-8177-ae03116a8428.png)

[2022-04-13 10:18] voborgus commented on #253
Nice idea, hope to have a look on this soon. Thanks @clcoffey for such detailed issue.

[2022-04-13 13:32] clcoffey commented on #253
Thanks Dmitrii! Actually, with the change in design, we will have to add the Partner and Supporter badges to the boxes through code rather than upload the picture including them. Do you want me to update the issue?

[2022-04-14 15:09] user-group opened #255 "[re-]Add a page with academic papers"
**Is your feature request related to a problem? Please describe.**
We had a page of academic papers, but the papers had to go when the research page was redone as 'blocks' representing the surveys. the papers could then not also be accommodated. so we need a new page.

**Describe the solution you'd like**
A new page under 'learn'.

**Additional context**
We have the contents, I just need someone t

[2022-04-14 19:55] user-group opened #257 "add temporary link to SoIS report on main page or info bar"
**Is your feature request related to a problem? Please describe.**
The state of IS report is out, but it's hidden down a menu; if you don't know about it already, you won't find it.

**Describe the solution you'd like**
Add a link to the report + short announcement in the top bar where there's other "current affairs" stuff advertised, for say, a month or so, or until the next "current item" replac

[2022-04-19 10:08] claredillon commented on #113
The latest bylaws have been uploaded in this PR: https://github.com/InnerSourceCommons/innersourcecommons.org/pull/259. This was confirmed by the ISC board.

[2022-04-19 13:51] #113 closed, assigned to nobody

[2022-04-20 18:33] clcoffey opened #261 "Set Up Google Analytics 4"
**Is your feature request related to a problem? Please describe.**
Google Analytics 4 is replacing Universal Analytics

https://analytics.google.com/analytics/web/?utm_campaign=2022-q1-gbl-all-gafree&utm_source=google-growth&utm_medium=email&utm_content=ga-sunset-msa-ua-only-admin#/a186978221w261326046p236925889/admin/ga4-setup-assistant

[2022-04-27 16:37] claredillon opened #265 "Add Announcement re 2022 Members to the Announcement Page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

PLease add the following new announcement to the [Announcement Page](https://innersourcecommons.org/about/announcements/)

Text for the annou

[2022-05-03 16:39] #265 closed, assigned to clcoffey

[2022-05-03 16:41] #257 closed, assigned to nobody

[2022-05-04 11:27] clcoffey opened #272 "Old website redirect"
We are still getting questions about the old website as for some people it shows up in search results above our current website.

This causes confusion.

Can we set up a redirect from the old website to the new one so we don't lose any more traffic and users get the up to date information they need?

[2022-05-04 11:30] clcoffey commented on #272
@voborgus @dicortazar @spier @mishari I remember having this conversation in one of the Marketing Calls however I can't remember what the solution and actions were from it.

Were you there? Do you remember the conversation? And if not, do you know what is involved in making the redirect?

[2022-05-04 12:28] spier commented on #272
Can you share one specific example, so that we are clear about the problem we are trying to fix? Optimally even with a screenshot.

[2022-05-04 13:08] clcoffey commented on #272
At the moment when you go to https://innersourcecommons.net/ you see the old site. This still shows up in google searches. The problem is that people find it instead of the new website when they look for InnerSource Commons.

Ideally, when someone lands on https://innersourcecommons.net/ they should be redirected to https://innersourcecommons.org/

[2022-05-04 18:01] spier commented on #272
Ah I see.

In that case I would argue that instead of redirecting we could do either of these (or even both):
1) completely shut down https://innersourcecommons.net/
2) stop Google from indexing anything on https://innersourcecommons.net (don't know the exact mechanics of that but I am sure it is possible)

To decide what to do, we might go back to why we decided to keep https://innersourcecommons

[2022-05-05 05:17] mishari commented on #272
If we got rid of it entirely, we'd lose out on SEO. It's really easy to maintain the domain and use a 301 moved permanently so that all the links go to the new site. It will be just a single .htaccess file in the web host that does this.

[2022-05-07 12:22] spier commented on #272
Personally I would happily "loose some SEO" in exchange for "less things to maintain", given that we are a group of volunteers who can only maintain very few things anyways.

But does anybody know what the `.net` domain was originally meant to be used for?
I know that it now hosts our old site, but what did it host prior to that relaunch?

[2022-05-07 13:43] mishari commented on #272
But maintaining it is trivial, 5 lines of configuration. In fact I have it
handy if need be 🙂

On Sat, 7 May 2022, 19:22 Sebastian Spier, ***@***.***> wrote:

[2022-05-08 08:52] spier commented on #272
I know that the configuration isn't that hard :)
With maintenance I meant more than just the code change i.e. documenting how it works, making sure that current and new maintainers of our website know how it works etc.

But rather than focusing on the technical aspects of the change, I am trying to figure out what the business problem is and to some extend what it was in the past. i.e. why do we h

[2022-05-09 10:45] clcoffey commented on #272
I think @claredillon might have some context around this.

One reason we would like to keep it is for Archive purposes. It is good to have a history of InnerSource Commons at hand.

@mishari I like your solution. Is it something you would be able to implement if we decide to go ahead with it, or do you need additional access?

[2022-05-09 11:12] mishari commented on #272
Another good reason is to prevent link rot, as ISC.net may be linked from
books, blogs and other material people may come across.

I may need additional access. When we decide we're going to go ahead with
this, I can hop in and figure things out, no problem.

On Mon, May 9, 2022 at 5:45 PM Cristina Coffey ***@***.***>
wrote:

[2022-06-01 15:15] claredillon opened #292 "Promote the new Services Directory instead of the State of InnerSource Suvey in the notice bar on website"
Propose replacing the notice on our website that currently says "The State of InnerSource 2021 is out! [Click here to Download and Read the research report!](https://innersourcecommons.org/learn/research/state-of-innersource-survey-2021/)" to "We have launched a new InnerSource Services Directory. Click here to check it out"
and a link to: https://innersourcecommons.org/community/services/

[2022-06-01 15:22] clcoffey commented on #292
I just made the change in this Pull Request: https://github.com/InnerSourceCommons/innersourcecommons.org/pull/293

[2022-06-01 15:23] #292 closed, assigned to clcoffey, OliveCannon

[2022-06-16 08:17] clcoffey commented on #255
I started the work on this here: https://github.com/InnerSourceCommons/innersourcecommons.org/pull/295

[2022-07-14 06:03] claredillon opened #330 "Add Microsoft Case Study to the site"
**Is your feature request related to a problem? Please describe.**
We have a new case study for Microsoft we wish to publish on the site. This is the first of what will be more case studies. The case study can be found [here](https://docs.google.com/document/d/1rR2zoXuZ6N5I808T3px6bCaOVPIFSUgI/edit?usp=sharing&ouid=111601782014637907784&rtpof=true&sd=true)

**Describe the solution you'd like**
A c

[2022-07-14 06:22] claredillon commented on #330
I note GitHub uses the term customer-stories rather than case studies... like that better. So perhaps we should have it at https://innersourcecommons.org/community/stories/microsoft.md

It also makes me think about whether we should change the InnerSource in Action page to be InnerSource Stories? We've heard reports that people are not clear about finding evidence on "InnerSource in Action". Maybe

[2022-07-17 10:44] voborgus commented on #330
Done in #331

[2022-07-18 08:16] #330 closed, assigned to voborgus, clcoffey

[2022-09-15 15:44] yuhattor opened #355 "Proposal for i18n support"
## Proposal
The Japanese community is gradually growing, and the innersourcecommons.org page should be its landing page. Therefore, I would like to propose the internationalization of the site.

## Scope
contents, menus and footers.
However, details and reports of past events and Learning Path will be excluded from this translation

## Where to start
We would like to translate the Japanese page fi

[2022-09-17 15:26] lenucksi commented on #355
Maybe @voborgus knows more on the magic required here as he's been really instrumental with the transition to the new Hugo powered site.

[2022-09-17 17:54] yuhattor commented on #355
@lenucksi Thank you!
I have started contacting him:)

I've also been trying to experiment with the HUGO site and have an update.
As a matter of fact, the foundation for i18n support is almost complete. The experiment went rather well.

I've created a [sample site with multilingual support](https://www.innersourcecommons.jp/ja/). Please take a look at the page. This URL is a .jp domain that I took

[2022-09-27 11:54] clcoffey opened #369 "Images not showing up in carousel on About page."
**Describe the bug**
Some images in the carousel on the About page are not showing up.

**Expected behavior**
I expect to see all the images in the carousel
<img width="1084" alt="Screenshot 2022-09-20 at 12 17 02" src="https://user-images.githubusercontent.com/78749459/192518413-86d188f7-42df-4291-bb93-14f4feed408b.png">

[2022-09-27 11:56] clcoffey commented on #369
Hi @voborgus, I am not sure if you have any time these days but I think you were the one that created this carousel. Any idea why the images don't show up?

[2022-10-01 14:14] voborgus commented on #369
@clcoffey sure, a small fix in the PR above :)

[2022-10-01 14:59] voborgus commented on #355
I'm back @yuhattor !
Wow you've did a truly impressive work here. Thanks!
The main issue I see in the subsequent maintenance of the language versions. Since we're small, we don't have resources to translate all dynamic content to all supported language: events, announcements, etc. (and even static – there are a lots of untranslated learning paths). And if we'll have an issues created for any chang

[2022-10-03 13:16] #369 closed, assigned to voborgus

[2022-10-03 13:26] clcoffey opened #373 "Changing the Menu"
**Is your feature request related to a problem? Please describe.**
The Services Directory can not be found under the Community Menu item. At the same time, the Stories page fits better under community.

**Describe the solution you'd like**
Bring the Services Directory in the main top-level menu and nest Stories under Community (as per the image attached)

**Additional context**
<img width="595" al

[2022-10-03 13:27] clcoffey commented on #373
Hi Dmitrii, do you think this can be done easily?

[2022-10-04 14:59] voborgus commented on #373
Hello @clcoffey @claredillon,

this can be done easily, the only doubt I have now is the question of priorities:
what we value more as the community, **proof of the wide InnerSource adoption** with the list of the big names with quotes or that we **have companies that sells their professional services**?

Listing the list of companies under the community menu item can be read as "this companies sa

[2022-10-14 13:22] yuhattor commented on #355
@voborgus
Thank you:)

I can't agree more. I think events and announcements should be the last things to be done.
I believe GitHub Actions can help solve this problem. For example, a workflow could be added to add a comment to an Issue each time content is edited in the original English version of the translated file.
This is worth experimenting with. It would also be great if this could be done,

[2022-10-17 09:03] voborgus commented on #355
Sure, you should have access to push to the branches except `master` since it protected.

[2022-10-17 14:24] yuhattor commented on #355
Thank you!!!

[2022-11-01 14:11] yuhattor commented on #355
# Structure for i18n Support

If we want to support i18n, the directory structure of the site must be changed.
A structure change is as simple as adding one more layer of directories like `en/`, `ja/` and `ru/` under `contents/`. However, from a git perspective, it involves a major change to the codebase. If we work on a structure change and a translation project at the same time, the differences

[2022-11-01 14:14] yuhattor commented on #355
@voborgus @rrrutledge
Any opinion...? I think 2 is the best one.

[2022-11-01 14:24] rrrutledge commented on #355
Yes #2.  And there will be additional learning path content, and additional translations of that content.  Great job figuring this out.

[2022-11-10 12:02] clcoffey opened #403 "Not all links to the speaker bios from the Agenda are working"
When clicking on some of the Speaker names in the Summit Agenda I am not brought to their Bio. https://innersourcecommons.org/events/isc-2022/

For example, when clicking on Danese's name nothing happens but when clicking on Daniel's name I am brought to his bio.
![image](https://user-images.githubusercontent.com/78749459/201086042-81f01985-ce61-4152-97ae-65358a53c3e7.png)

This is the case for mo

[2022-11-10 12:03] clcoffey commented on #403
@voborgus and @spier have you got any idea what could be wrong here?

[2022-11-10 13:14] spier commented on #403
@clcoffey cannot reproduce the issue. Did you fix it in the meantime?

[2022-11-10 14:04] clcoffey commented on #403
It's still not fixed for me and someone else mentioned it to me in the mean time as well.

[2022-11-10 14:08] clcoffey commented on #403
The only ones that work for me are: Daniel, Natalie & Oliver in the first part and Isabel, Clare, Simon in the second part of the agenda.

Everybody else is not working.

[2022-11-10 14:40] spier commented on #403
Hmm, I don't know. I don't see any obvious difference.

[2022-11-18 14:11] clcoffey commented on #261
Hi @voborgus I finally got the chance to look into this and I realise I don't have admin access to the google analytics site. If you get the chance could you look into switching us over?

[2022-11-28 16:29] yuhattor opened #413 "Fix broken links"
The following links need to be modified

https://github.com/InnerSourceCommons/innersourcecommons.org/actions/runs/3566445109/jobs/5993320498

### Errors in content/en/learn/learning-path/product-owner/06.ja.md
* [https://innersourcecommons.org/ja/learn/learning-path/trusted-committer[Trusted](https://innersourcecommons.org/ja/learn/learning-path/trusted-committer[Trusted): Failed: Network error